@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--body);
  color: var(--primary-text);
  transition: color 500ms ease;
}

.light {
  --body: #e7e7e7;
  --secondary: #f8f8f8;
  --primary: #14213d;
  --black: #000000;
  --button: #fca311;
  --primary-text: #292929;
}

.dark {
  --body: #101b33;
  --secondary: #1b2c52;
  --primary: #14213d;
  --black: #000000;
  --button: #f7f7f7;
  --primary-text: #f7f7f7;
}